<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoonLight| Home</title>
    <link rel="stylesheet" href="./public/styles.css">
    <link rel="stylesheet" href="./public/page.css">
</head>
<body>
    <div class="bg-blue-500 py-1">
        <ul class="flex justify-evenly items-center text-white">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="text-center text-2xl md:text-3xl font-bold welcome">
                <a href="/welcome">
                    My MoonLight
                </a>
            </li>
            <li>
                <a href="/gallery">
                    Gallery
                </a>
            </li>
        </ul>
    </div>
    <div class="mt-5 md:mx-5 mx-2 text-center text-sm md:text-lg">
        <p>Her eyes so beautiful.</p>
        <p>Her beauty so exceptional.</p>
        <p>Her smiles so cute.</p>
        <p>The sound of her voice I crave for to hear.</p>
        <p>I long to always be with her, to be with the one I love.</p>
        <p>Your love have eaten me up and now, </p>
        <p>I drawn like the dead in the pools of your love.</p>
        <p>Talking about thoughts,</p>
        <p>I am always lost in thoughts, always thinking about you</p>
        <p>I wish I can stop thinking about you but i can't</p>

        <p>Your lips so pink I wish I can always get to kiss them.</p>
        <p>The warmth of your body I want to feel closer to mine.</p>
        <p>The sent of your body always drives me crazy alot</p>
        <p>All that really matters to me right now is just you</p>
        <p>To be with you always</p>
        <p>A packege of awesomeness I say you are,</p>
        <p>For your are sweet, beautiful, smart and loving</p>
        <p>The one who I love is you <b>Joy</b></p>
        <p>You have been the best part of this year and I love you so much</p>
    </div>
    <div>
        <img class="mx-auto mt-2 h-96" src="./public/images/3.jpg" alt="">
    </div>
    <audio src="./public/music/music.mp3" controls class="mx-auto rounded w-10/12 md:w-5/12 my-5"></audio>
</body>
</html>