<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoonLight | welcome</title>
    <link rel="stylesheet" href="./public/styles.css">
    <link rel="stylesheet" href="./public/page.css">
</head>
<body>
    <div>
        <div class="text-center text-xl md:text-2xl my-3 font-bold welcome">To Joy</div>
        <div class="text-center text-md md:text-lg my-1">My love and my treasure</div>
        <div class="my-5">
            <img class="w-52 h-52 rounded-full my-5 mx-auto" src="./public/images/0.jpg" alt="">
        </div>
        <div class="bg-blue-600 px-2 py-1 rounded shadow-sm mx-auto text-center w-1/3 text-white hover:bg-blue-800 hover:transition hover:duration duration-1000"><a href="/welcome">Continue</a></div>
    </div>
</body>
</html>